.post {
	flex-grow: 1;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}
.card {
	flex-grow: 1;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 24px;
	background-color: #f4f4f4;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.post:hover {
	transform: scale(1.01);
}

.postId {
	font-weight: bold;
}

.postTitle {
	color: #333;
	margin-top: 5px;
}

.postBody {
	color: #666;
	margin-top: 5px;
}
